In [1]:
import pandas as pd
import numpy as np

In [2]:
# gerçek hayatta veriler hemen analiz edilecek kadar temiz olmaz. elde ne kadar kaliteli varsa o kaqdar kaliteli model kurabiliriz.
# anaconda ile önemli kütüphaneleri otomatik olarak yüklü gelir direkt olarak kullanabiliriz.

In [3]:
obje = pd.Series([1,"Ali",3.5,"Hey"])
obje # bu bir seridir.

0      1
1    Ali
2    3.5
3    Hey
dtype: object

In [5]:
objedf = pd.DataFrame(obje,columns=["Bilmem"],index=[1,2,3,4])
objedf # bir seriyi dataframeye çevirebiliriz.

  Bilmem
1    Ali
2    3.5
3    Hey
4    NaN