In [1]:
import pandas as pd
import numpy as np

In [2]:
# seriler aslında numpy dizisine çok benzer. indexleme vs var. tek boyutludur array gibi.
bsozluk = {"atil":50,"zeynep":40,"mehmet":30}
pd.Series(bsozluk) # keyleri indexleme için kullanılır valueler ise veri olarak kullanılacak.

atil      50
zeynep    40
mehmet    30
dtype: int64

In [3]:
type(pd.Series(bsozluk))

pandas.core.series.Series

In [4]:
benimlistem = [50,40,30]
benimisimlerim = ["atil","zeynep","mehmet"]

In [5]:
pd.Series(data=benimisimlerim,index=benimlistem) # verileri ve indexleme elemanlarını ayrı ayrı verebiliriz.
# default olarak önce data sonra index elemamnları verilir.

50      atil
40    zeynep
30    mehmet
dtype: object

In [8]:
array1 = np.array([30,40,50])

In [13]:
pd.Series(data=array1,index=benimisimlerim) # eğer data'nın eleman sayısı indexten fazla olursa hata alırız ama index fazla olursa sorun yok. açıkta kalan olabilir.

atil      30
zeynep    40
mehmet    50
dtype: int32

In [14]:
pd.Series(["atil","zeynep","mehmet"],[1,2,3]) #

1      atil
2    zeynep
3    mehmet
dtype: object

In [18]:
yarismasonucu1 = pd.Series([10,15,20],["atil","zeynep","mehmet"])

In [19]:
yarismasonucu2 = pd.Series([15,21,10],["atil","zeynep","mehmet"]) # birebir aynı indexleme kullandık. burası önemli.

In [20]:
yarismasonucu2["mehmet"] # mehmetin datasını alırız.

10

In [21]:
sonsonuc = yarismasonucu1 + yarismasonucu2 # indexlere göre aynı olanları toplayacak.  eğer fazlan ya da eksik olsa index o zaman kesişimi olmayanlara NaN verecek. kesişimi olanlara toplama getirecek. 
sonsonuc

atil      25
zeynep    36
mehmet    30
dtype: int64

In [22]:
A = pd.Series([1,2,3,4,5],["a","b","c","d","e"])

In [23]:
B = pd.Series([1,2,3,4,5],["t","h","c","d","l"])

In [24]:
A + B # kesişimi olanlara toplama olacak olmayanlara ise NaN gelecek ayrı ayrı.

a    NaN
b    NaN
c    6.0
d    8.0
e    NaN
h    NaN
l    NaN
t    NaN
dtype: float64

# DATAFRAME

In [ ]:
# aslında serilerin birleşmiş halidir. çift boyutludur. satır ve sutun indexlemesi vardır.

In [25]:
data1 = np.random.randint(1,10,25).reshape(5,5)

In [26]:
data1

array([[6, 4, 1, 6, 4],
       [7, 2, 8, 5, 4],
       [9, 5, 6, 4, 1],
       [8, 3, 9, 9, 1],
       [2, 1, 2, 9, 3]])

In [29]:
dataframe1 = pd.DataFrame(data1,columns=[11,12,13,14,15],index=["a","b","c","d","e"]) # satır ve sutun indexlemesi yapabiliriz
dataframe1
#pd.DataFrame() ile oluştururuuz.  veriyi verir sonra ise ayarlama yapabiliriz.

   11  12  13  14  15
a   6   4   1   6   4
b   7   2   8   5   4
c   9   5   6   4   1
d   8   3   9   9   1
e   2   1   2   9   3

In [30]:
dataframe1[11]  # dataframe[sutun][satir]   dataframe.loc[satır][sutun]   bu şekilde gider.   tek sutun çağırırsak eğer bir seri gelir bize. birden fazla sutunda çağırabiliriz.

a    6
b    7
c    9
d    8
e    2
Name: 11, dtype: int32

In [33]:
dataframe1.loc["a"] # böyle ise satırı getirdik. sutun indexlemesi ile

pandas.core.series.Series

In [34]:
type(dataframe1.loc["a"]) # bir satırı çeker alırsakta aslında bir seri elde ederiz.    dataframeler yan yana veya alt alta tek boyutlu serilerim birleşmesi ile elde edilmiş çift boyutlu bir yapıdır.

pandas.core.series.Series

In [37]:
# .iloc ile biz .iloc[satır] ile index numarası kullanarak işlem yapabiliriz isim vs yazmaya gerek yok
dataframe1.iloc[0,1] # ilk satırın ikinci değerinii getirdi.   .iloc[0] yapsa idik ilk satırı bir seri halinde getirirdi.

4

In [38]:
dataframe1[16] = [1,2,3,4,5] # kolon indexi verip atama yaparsak eğer yeni bir sutun eklemiş oluruz.
dataframe1 # yeni bir sutun eklenmiş oldu.

   11  12  13  14  15  16
a   6   4   1   6   4   1
b   7   2   8   5   4   2
c   9   5   6   4   1   3
d   8   3   9   9   1   4
e   2   1   2   9   3   5

In [45]:
dataframe1.drop(16,axis=1,inplace=True) # axis 1 ile sutun deriz 16 ile yani isim ile hangisi düşürülecek bunu belirleriz. inplace True ile kalıcı değişim yaparız eğer bunu koymazsak bu yapı droplanmış hali return eder ama dataframe1'de değişim olmaz. kalıcı olması için inplace = True kullanmak lazım

KeyError: '[16] not found in axis'

In [43]:
dataframe1

   11  12  13  14  15
a   6   4   1   6   4
b   7   2   8   5   4
c   9   5   6   4   1
d   8   3   9   9   1
e   2   1   2   9   3

In [ ]:
dataframe1.loc["a",13] # bununla a satırının 13 nolu sutunundaki değeri alabiliriz.  veya.   dataframe1.loc["a",13]' te yapabiliriz numpydeki gibi.

In [48]:
a = dataframe1 < 5
a  # True False yapısı elde ederiz... eğer bir veri 5'ten küçükse True alır değilse False alır.

      11     12     13     14    15
a  False   True   True  False  True
b  False   True  False  False  True
c  False  False  False   True  True
d  False   True  False  False  True
e   True   True   True  False  True

In [50]:
dataframe1[a] # böylece True olanları görürüz. aynı satır ve sutun indexlemesine karşılık gelecek şekilde. yani üst üste koyulur true olanlar açılır False oolanlar NaN alır.

    11   12   13   14  15
a  NaN  4.0  1.0  NaN   4
b  NaN  2.0  NaN  NaN   4
c  NaN  NaN  NaN  4.0   1
d  NaN  3.0  NaN  NaN   1
e  2.0  1.0  2.0  NaN   3

In [53]:
b = dataframe1[dataframe1 < 3]
b.dropna(how = "all",axis = 1,inplace=True) # eğer sutunun hepsi 3Ten küçükse o sutunu sil demek. inplace True ile kalıcı hale getiririz.
b

    11   12   13   15
a  NaN  NaN  1.0  NaN
b  NaN  2.0  NaN  NaN
c  NaN  NaN  NaN  1.0
d  NaN  NaN  NaN  1.0
e  2.0  1.0  2.0  NaN

In [58]:
dataframe1[dataframe1[11] > 5] #11 nolu sutundaki True olanlar geleecek eğer 11'de bir satırın değeri 5'ten küçükse o zaman komple o satır gelmeyecek.

   11  12  13  14  15
a   6   4   1   6   4
b   7   2   8   5   4
c   9   5   6   4   1
d   8   3   9   9   1

In [59]:
dataframe1.reset_index() # index diye bir sutun oluşturur ve satır indexlerinin buraya atar. sonra satır indexlemesini 0 1 2 3... diye bilgisayar indexlemesi kullanarak yapar. kalıcı değişim olsun istersek o zaman inplace = True kullanmamız gerekir.

  index  11  12  13  14  15
0     a   6   4   1   6   4
1     b   7   2   8   5   4
2     c   9   5   6   4   1
3     d   8   3   9   9   1
4     e   2   1   2   9   3